{
    "openapi": "3.1.0",
    "info": {
        "title": "service-desk",
        "description": "Manage IT tickets\n\n**Note:** This schema includes only public API endpoints. Internal endpoints are excluded.\n\n**Note:** Internal headers (x-tenant-id, x-employee-id, x-user-id, x-user-email, x-tenant-roles) are excluded from public documentation.",
        "version": "0.1.0",
        "x-public-api-filter": true
    },
    "servers": [
        {
            "url": "https://api.harmony.io/service-desk",
            "description": "Harmony API"
        }
    ],
    "paths": {
        "/api/v1/tickets/": {
            "post": {
                "tags": [
                    "tickets"
                ],
                "summary": "Create a new ticket",
                "description": "Creates a new support ticket in the system",
                "operationId": "createTicket",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTicketRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketDetailResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            },
            "get": {
                "tags": [
                    "tickets"
                ],
                "summary": "List tickets",
                "description": "Lists tickets with optional filtering and pagination",
                "operationId": "listTickets",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1,
                            "title": "Page"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 200,
                            "minimum": 1,
                            "default": 25,
                            "title": "Page Size"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "enum": [
                                "title",
                                "priority",
                                "source",
                                "status",
                                "created_at",
                                "resolution_sla"
                            ],
                            "type": "string",
                            "default": "created_at",
                            "title": "Sort By"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string",
                            "default": "desc",
                            "title": "Sort Direction"
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Title"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Description"
                        }
                    },
                    {
                        "name": "ticket_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TicketType"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Ticket Type"
                        }
                    },
                    {
                        "name": "priority",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TicketPriority"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Priority"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TicketStatus"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Status"
                        }
                    },
                    {
                        "name": "reporter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Reporter"
                        }
                    },
                    {
                        "name": "assignee",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Use '_UNASSIGN_' for unassigned",
                            "title": "Assignee"
                        },
                        "description": "Use '_UNASSIGN_' for unassigned"
                    },
                    {
                        "name": "desk_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Desk Id"
                        }
                    },
                    {
                        "name": "subdesk_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by subdesk (team) IDs",
                            "title": "Subdesk Id"
                        },
                        "description": "Filter by subdesk (team) IDs"
                    },
                    {
                        "name": "tag_ids",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Tag Ids"
                        }
                    },
                    {
                        "name": "tag_names",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Tag Names"
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TicketSource"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Source"
                        }
                    },
                    {
                        "name": "vip_reporter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter tickets by VIP status of the reporter employee",
                            "title": "Vip Reporter"
                        },
                        "description": "Filter tickets by VIP status of the reporter employee"
                    },
                    {
                        "name": "location_reporter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter tickets by location of the reporter employee",
                            "title": "Location Reporter"
                        },
                        "description": "Filter tickets by location of the reporter employee"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketsListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            }
        },
        "/api/v1/tickets/{ticket_id}": {
            "get": {
                "tags": [
                    "tickets"
                ],
                "summary": "Get a ticket by ID",
                "description": "Retrieves a ticket by ID with extended details including watchers",
                "operationId": "getTicketByID",
                "parameters": [
                    {
                        "name": "ticket_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Ticket Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketDetailResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            },
            "patch": {
                "tags": [
                    "tickets"
                ],
                "summary": "Update a ticket",
                "description": "Updates an existing ticket with the provided fields",
                "operationId": "updateTicket",
                "parameters": [
                    {
                        "name": "ticket_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Ticket Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTicketRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            }
        },
        "/api/v1/tickets/query": {
            "post": {
                "tags": [
                    "tickets"
                ],
                "summary": "Query tickets with filters",
                "description": "Query tickets with complex filtering including metadata filters",
                "operationId": "queryTickets",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryTicketsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketsListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            }
        },
        "/api/v1/tickets/bulk-update": {
            "post": {
                "tags": [
                    "tickets"
                ],
                "summary": "Bulk update tickets",
                "description": "Update multiple tickets with the same values in a single atomic transaction",
                "operationId": "bulkUpdateTickets",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkUpdateTicketsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkUpdateTicketsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            }
        },
        "/api/v1/tickets/{ticket_id}/custom-fields": {
            "get": {
                "tags": [
                    "tickets"
                ],
                "summary": "Get ticket custom fields",
                "description": "Get custom field values for a ticket (current desk only).",
                "operationId": "getTicketCustomFields",
                "parameters": [
                    {
                        "name": "ticket_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Ticket Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomFieldValuesResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            },
            "put": {
                "tags": [
                    "tickets"
                ],
                "summary": "Set ticket custom fields",
                "description": "Set custom field values for a ticket (current desk only).",
                "operationId": "setTicketCustomFields",
                "parameters": [
                    {
                        "name": "ticket_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Ticket Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomFieldValuesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomFieldValuesResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            }
        },
        "/api/v1/tickets/{ticket_id}/activity": {
            "get": {
                "tags": [
                    "tickets"
                ],
                "summary": "Get ticket activity",
                "description": "Get activity log events for a specific ticket.",
                "operationId": "getTicketActivity",
                "parameters": [
                    {
                        "name": "ticket_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Ticket Id"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 200,
                            "minimum": 1,
                            "description": "Maximum events to return",
                            "default": 100,
                            "title": "Limit"
                        },
                        "description": "Maximum events to return"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Offset for pagination",
                            "default": 0,
                            "title": "Offset"
                        },
                        "description": "Offset for pagination"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponseEventsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-public-api": true,
                "x-api-version": "v1",
                "x-stability": "stable"
            }
        }
    },
    "components": {
        "schemas": {
            "AddWatcherRequest": {
                "properties": {
                    "watcher_id": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1,
                        "title": "Watcher Id"
                    }
                },
                "type": "object",
                "required": [
                    "watcher_id"
                ],
                "title": "AddWatcherRequest"
            },
            "AllCustomFieldValuesResponse": {
                "properties": {
                    "custom_fields": {
                        "additionalProperties": {
                            "additionalProperties": true,
                            "type": "object"
                        },
                        "type": "object",
                        "title": "Custom Fields",
                        "description": "All custom field values namespaced by desk_id"
                    }
                },
                "type": "object",
                "title": "AllCustomFieldValuesResponse",
                "description": "Response schema for all custom field values (all desks)."
            },
            "AssignFirstResponderRequest": {
                "properties": {
                    "sender_id": {
                        "type": "string",
                        "title": "Sender Id"
                    }
                },
                "type": "object",
                "required": [
                    "sender_id"
                ],
                "title": "AssignFirstResponderRequest",
                "description": "Request to assign ticket to first responder."
            },
            "AssignmentMethod": {
                "type": "string",
                "enum": [
                    "round_robin",
                    "least_loaded",
                    "fixed",
                    "first_responder"
                ],
                "title": "AssignmentMethod",
                "description": "Assignment methods for auto-assigning tickets."
            },
            "AttachmentConfirmRequest": {
                "properties": {},
                "type": "object",
                "title": "AttachmentConfirmRequest"
            },
            "AttachmentDownloadUrlResponse": {
                "properties": {
                    "attachment_id": {
                        "type": "string",
                        "title": "Attachment Id"
                    },
                    "filename": {
                        "type": "string",
                        "title": "Filename"
                    },
                    "download_url": {
                        "type": "string",
                        "title": "Download Url"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Expires At"
                    },
                    "expires_in_seconds": {
                        "type": "integer",
                        "title": "Expires In Seconds"
                    }
                },
                "type": "object",
                "required": [
                    "attachment_id",
                    "filename",
                    "download_url",
                    "expires_at",
                    "expires_in_seconds"
                ],
                "title": "AttachmentDownloadUrlResponse"
            },
            "AttachmentResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id"
                    },
                    "filename": {
                        "type": "string",
                        "title": "Filename"
                    },
                    "content_type": {
                        "type": "string",
                        "title": "Content Type"
                    },
                    "file_size": {
                        "type": "integer",
                        "title": "File Size"
                    },
                    "upload_status": {
                        "$ref": "#/components/schemas/AttachmentUploadStatus"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "filename",
                    "content_type",
                    "file_size",
                    "upload_status",
                    "created_at",
                    "updated_at"
                ],
                "title": "AttachmentResponse"
            },
            "AttachmentUploadResponse": {
                "properties": {
                    "upload_url": {
                        "type": "string",
                        "title": "Upload Url"
                    },
                    "attachment_id": {
                        "type": "string",
                        "title": "Attachment Id"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Expires At"
                    }
                },
                "type": "object",
                "required": [
                    "upload_url",
                    "attachment_id",
                    "expires_at"
                ],
                "title": "AttachmentUploadResponse"
            },
            "AttachmentUploadStatus": {
                "type": "string",
                "enum": [
                    "pending",
                    "uploaded",
                    "failed"
                ],
                "title": "AttachmentUploadStatus"
            },
            "AutoAssignResponse": {
                "properties": {
                    "assignee": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Assignee"
                    },
                    "auto_assigned": {
                        "type": "boolean",
                        "title": "Auto Assigned"
                    },
                    "reason": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Reason"
                    },
                    "status_changed": {
                        "type": "boolean",
                        "title": "Status Changed",
                        "default": false
                    }
                },
                "type": "object",
                "required": [
                    "assignee",
                    "auto_assigned"
                ],
                "title": "AutoAssignResponse",
                "description": "Response from auto-assignment attempt."
            },
            "AutoAssignmentSettingsCreate": {
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled",
                        "description": "Enable auto-assignment for this desk",
                        "default": false
                    },
                    "assignment_method": {
                        "$ref": "#/components/schemas/AssignmentMethod",
                        "description": "Assignment method: 'round_robin' (rotate through employees, assigns at creation), 'least_loaded' (assign to employee with fewest tickets, at creation), 'fixed' (always assign to specific employee, assigns at creation), 'first_responder' (assign to first agent who responds)"
                    },
                    "employee_scope_ids": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Employee Scope Ids",
                        "description": "List of employee IDs to include in auto-assignment. For 'fixed' method: must contain exactly 1 employee. For 'round_robin' and 'least_loaded': multiple employees or null (defaults to all desk employees). For 'first_responder': ignored (assigns to whoever responds first). Note: 'harmony_ai' is always excluded from auto-assignment."
                    }
                },
                "type": "object",
                "required": [
                    "assignment_method"
                ],
                "title": "AutoAssignmentSettingsCreate",
                "description": "Request to create auto-assignment settings for a desk."
            },
            "AutoAssignmentSettingsResponse": {
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled",
                        "description": "Whether auto-assignment is enabled for this desk"
                    },
                    "assignment_method": {
                        "$ref": "#/components/schemas/AssignmentMethod",
                        "description": "The assignment method being used"
                    },
                    "employee_scope_ids": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Employee Scope Ids",
                        "description": "List of employee IDs included in auto-assignment scope"
                    },
                    "last_assigned_employee_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Last Assigned Employee Id",
                        "description": "Last employee assigned (used for round-robin tracking)"
                    },
                    "created_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created At",
                        "description": "When the settings were created. Null when returning default state (settings not persisted)"
                    },
                    "updated_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Updated At",
                        "description": "When the settings were last updated. Null when returning default state (settings not persisted)"
                    }
                },
                "type": "object",
                "required": [
                    "enabled",
                    "assignment_method",
                    "employee_scope_ids",
                    "last_assigned_employee_id",
                    "created_at",
                    "updated_at"
                ],
                "title": "AutoAssignmentSettingsResponse",
                "description": "Response containing auto-assignment settings for a desk."
            },
            "AutoCloseLinkedSettingsCreate": {
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled",
                        "default": false
                    },
                    "link_types": {
                        "items": {
                            "$ref": "#/components/schemas/TicketLinkType"
                        },
                        "type": "array",
                        "title": "Link Types",
                        "description": "Link types that trigger auto-close (downstream relationships)"
                    },
                    "eligible_statuses": {
                        "items": {
                            "$ref": "#/components/schemas/TicketStatus"
                        },
                        "type": "array",
                        "title": "Eligible Statuses",
                        "description": "Only close linked tickets that are in these statuses"
                    }
                },
                "type": "object",
                "title": "AutoCloseLinkedSettingsCreate"
            },
            "AutoCloseLinkedSettingsResponse": {
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled"
                    },
                    "link_types": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Link Types"
                    },
                    "eligible_statuses": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Eligible Statuses"
                    }
                },
                "type": "object",
                "required": [
                    "enabled",
                    "link_types",
                    "eligible_statuses"
                ],
                "title": "AutoCloseLinkedSettingsResponse"
            },
            "AutoCloseSettingsCreate": {
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled",
                        "default": false
                    },
                    "auto_close_resolved": {
                        "type": "boolean",
                        "title": "Auto Close Resolved",
                        "default": true
                    },
                    "resolved_days_threshold": {
                        "type": "integer",
                        "maximum": 365.0,
                        "minimum": 1.0,
                        "title": "Resolved Days Threshold",
                        "default": 30
                    },
                    "auto_close_pending": {
                        "type": "boolean",
                        "title": "Auto Close Pending",
                        "default": true
                    },
                    "pending_days_threshold": {
                        "type": "integer",
                        "maximum": 365.0,
                        "minimum": 1.0,
                        "title": "Pending Days Threshold",
                        "default": 30
                    },
                    "send_reminder": {
                        "type": "boolean",
                        "title": "Send Reminder",
                        "default": false
                    },
                    "reminder_hours": {
                        "type": "integer",
                        "maximum": 720.0,
                        "minimum": 1.0,
                        "title": "Reminder Hours",
                        "default": 24
                    }
                },
                "type": "object",
                "title": "AutoCloseSettingsCreate"
            },
            "AutoCloseSettingsResponse": {
                "properties": {
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled"
                    },
                    "auto_close_resolved": {
                        "type": "boolean",
                        "title": "Auto Close Resolved"
                    },
                    "resolved_days_threshold": {
                        "type": "integer",
                        "title": "Resolved Days Threshold"
                    },
                    "auto_close_pending": {
                        "type": "boolean",
                        "title": "Auto Close Pending"
                    },
                    "pending_days_threshold": {
                        "type": "integer",
                        "title": "Pending Days Threshold"
                    },
                    "send_reminder": {
                        "type": "boolean",
                        "title": "Send Reminder"
                    },
                    "reminder_hours": {
                        "type": "integer",
                        "title": "Reminder Hours"
                    }
                },
                "type": "object",
                "required": [
                    "enabled",
                    "auto_close_resolved",
                    "resolved_days_threshold",
                    "auto_close_pending",
                    "pending_days_threshold",
                    "send_reminder",
                    "reminder_hours"
                ],
                "title": "AutoCloseSettingsResponse"
            },
            "BulkUpdateTicketsRequest": {
                "properties": {
                    "ticket_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "minItems": 1,
                        "title": "Ticket Ids",
                        "description": "List of ticket IDs to update"
                    },
                    "priority": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/TicketPriority"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/TicketStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "assignee": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Assignee",
                        "description": "Use '_UNASSIGN_' to unassign"
                    },
                    "publish_events": {
                        "type": "boolean",
                        "title": "Publish Events",
                        "description": "Whether to publish domain events for these ticket updates. Set to False to suppress event publishing (useful for bulk imports or migrations). Defaults to True. This suppresses ALL events including status changes, assignee changes, and survey triggers.",
                        "default": true
                    }
                },
                "type": "object",
                "required": [
                    "ticket_ids"
                ],
                "title": "BulkUpdateTicketsRequest"
            },
            "BulkUpdateTicketsResponse": {
                "properties": {
                    "updated_count": {
                        "type": "integer",
                        "title": "Updated Count",
                        "description": "Number of tickets successfully updated"
                    }
                },
                "type": "object",
                "required": [
                    "updated_count"
                ],
                "title": "BulkUpdateTicketsResponse"
            },
            "BulkUpdateTicketsSLARequest": {
                "properties": {
                    "updates": {
                        "items": {
                            "$ref": "#/components/schemas/TicketSLAUpdate"
                        },
                        "type": "array",
                        "maxItems": 100,
                        "minItems": 1,
                        "title": "Updates",
                        "description": "List of ticket SLA updates"
                    }
                },
                "type": "object",
                "required": [
                    "updates"
                ],
                "title": "BulkUpdateTicketsSLARequest",
                "description": "Bulk update SLA fields for multiple tickets."
            },
            "BulkUpdateTicketsSLAResponse": {
                "properties": {
                    "updated_count": {
                        "type": "integer",
                        "title": "Updated Count",
                        "description": "Number of tickets successfully updated"
                    }
                },
                "type": "object",
                "required": [
                    "updated_count"
                ],
                "title": "BulkUpdateTicketsSLAResponse",
                "description": "Response from bulk SLA update operation."
            },
            "CannedResponseAttachmentDownloadUrlResponse": {
                "properties": {
                    "attachment_id": {
                        "type": "string",
                        "title": "Attachment Id"
                    },
                    "filename": {
                        "type": "string",
                        "title": "Filename"
                    },
                    "download_url": {
                        "type": "string",
                        "title": "Download Url"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Expires At"
                    },
                    "expires_in_seconds": {
                        "type": "integer",
                        "title": "Expires In Seconds"
                    }
                },
                "type": "object",
                "required": [
                    "attachment_id",
                    "filename",
                    "download_url",
                    "expires_at",
                    "expires_in_seconds"
                ],
                "title": "CannedResponseAttachmentDownloadUrlResponse"
            },
            "CannedResponseAttachmentResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id"
                    },
                    "instance_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Instance Id"
                    },
                    "filename": {
                        "type": "string",
                        "title": "Filename"
                    },
                    "file_size": {
                        "type": "integer",
                        "title": "File Size"
                    },
                    "content_type": {
                        "type": "string",
                        "title": "Content Type"
                    },
                    "s3_key": {
                        "type": "string",
                        "title": "S3 Key"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "filename",
                    "file_size",
                    "content_type",
                    "s3_key",
                    "created_at"
                ],
                "title": "CannedResponseAttachmentResponse"
            },
            "CannedResponseAvailability": {
                "type": "string",
                "enum": [
                    "personal",
                    "shared"
                ],
                "title": "CannedResponseAvailability"
            },
            "CannedResponseResponse": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "desk_id": {
                        "type": "string",
                        "title": "Desk Id"
                    },
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "content": {
                        "type": "string",
                        "title": "Content"
                    },
                    "availability": {
                        "$ref": "#/components/schemas/CannedResponseAvailability"
                    },
                    "created_by": {
                        "type": "string",
                        "title": "Created By"
                    },
                    "last_edited_by": {
                        "type": "string",
                        "title": "Last Edited By"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    },
                    "attachments": {
                        "items": {
                            "$ref": "#/components/schemas/CannedResponseAttachmentResponse"
                        },
                        "type": "array",
                        "title": "Attachments"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "desk_id",
                    "name",
                    "content",
                    "availability",
                    "created_by",
                    "last_edited_by",
                    "created_at",
                    "updated_at"
                ],
                "title": "CannedResponseResponse"
            },
            "CannedResponsesListResponse": {
                "properties": {
                    "items": {
                        "items": {
                            "$ref": "#/components/schemas/CannedResponseResponse"
                        },
                        "type": "array",
                        "title": "Items"
                    },
                    "total_count": {
                        "type": "integer",
                        "title": "Total Count"
                    }
                },
                "type": "object",
                "required": [
                    "items",
                    "total_count"
                ],
                "title": "CannedResponsesListResponse"
            },
            "CloseLinkedTicketsRequest": {
                "properties": {
                    "parent_ticket_id": {
                        "type": "string",
                        "title": "Parent Ticket Id"
                    },
                    "target_status": {
                        "type": "string",
                        "enum": [
                            "resolved",
                            "closed"
                        ],
                        "title": "Target Status"
                    }
                },
                "type": "object",
                "required": [
                    "parent_ticket_id",
                    "target_status"
                ],
                "title": "CloseLinkedTicketsRequest",
                "description": "Request to close linked tickets when parent is resolved/closed."
            },
            "CreateCannedResponseRequest": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 160,
                        "minLength": 1,
                        "title": "Name"
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Template content"
                    },
                    "availability": {
                        "$ref": "#/components/schemas/CannedResponseAvailability"
                    },
                    "attachment_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Attachment Ids"
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "content",
                    "availability"
                ],
                "title": "CreateCannedResponseRequest"
            },
            "CreateCustomFieldDefinitionRequest": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1,
                        "title": "Name",
                        "description": "Name of the custom field"
                    },
                    "field_type": {
                        "$ref": "#/components/schemas/CustomFieldType",
                        "description": "Type of the custom field"
                    },
                    "is_mandatory": {
                        "type": "boolean",
                        "title": "Is Mandatory",
                        "description": "Whether this field is mandatory",
                        "default": false
                    },
                    "options": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Options",
                        "description": "Field options (e.g., choices for select fields)"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 500
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description",
                        "description": "Description of the custom field"
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "field_type"
                ],
                "title": "CreateCustomFieldDefinitionRequest"
            },
            "CreateDeskRequest": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 60,
                        "minLength": 1,
                        "title": "Name",
                        "description": "Desk name"
                    },
                    "emoji": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 8
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Emoji",
                        "description": "Desk emoji"
                    },
                    "description": {
                        "type": "string",
                        "maxLength": 1000,
                        "minLength": 10,
                        "title": "Description",
                        "description": "Desk description - will be used by Harmony AI Agent for classifying tickets"
                    },
                    "employee_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Employee Ids",
                        "description": "List of employee IDs"
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "description"
                ],
                "title": "CreateDeskRequest",
                "description": "Request to create a desk."
            },
            "CreateSavedViewRequest": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 160,
                        "minLength": 1,
                        "title": "Name"
                    },
                    "filters": {
                        "items": {
                            "$ref": "#/components/schemas/FilterItem"
                        },
                        "type": "array",
                        "title": "Filters"
                    },
                    "sorting": {
                        "items": {
                            "$ref": "#/components/schemas/SortItem"
                        },
                        "type": "array",
                        "title": "Sorting"
                    },
                    "global_filter": {
                        "type": "string",
                        "maxLength": 500,
                        "title": "Global Filter",
                        "default": ""
                    },
                    "is_default": {
                        "type": "boolean",
                        "title": "Is Default",
                        "default": false
                    }
                },
                "type": "object",
                "required": [
                    "name"
                ],
                "title": "CreateSavedViewRequest"
            },
            "CreateSubdeskRequest": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 60,
                        "minLength": 1,
                        "title": "Name",
                        "description": "Subdesk name (e.g., 'Europe Team', 'US West')"
                    },
                    "timezone": {
                        "type": "string",
                        "title": "Timezone",
                        "description": "IANA timezone name (e.g., 'America/New_York', 'Europe/Berlin')"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 1000
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description",
                        "description": "Optional description of the subdesk"
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "timezone"
                ],
                "title": "CreateSubdeskRequest",
                "description": "Request to create a subdesk (team) within a desk."
            },
            "CreateSurveyResponseRequest": {
                "properties": {
                    "respondent_employee_id": {
                        "type": "string",
                        "title": "Respondent Employee Id"
                    },
                    "notification_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Notification Id",
                        "description": "Notification ID for threading reminders as replies"
                    }
                },
                "type": "object",
                "required": [
                    "respondent_employee_id"
                ],
                "title": "CreateSurveyResponseRequest",
                "description": "Request to create a pending survey response."
            },
            "CreateTagRequest": {
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1,
                        "title": "Name"
                    },
                    "color": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 7,
                                "minLength": 7
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Color"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 255
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    }
                },
                "type": "object",
                "required": [
                    "name"
                ],
                "title": "CreateTagRequest"
            },
            "CreateTemplateDeskRequest": {
                "properties": {
                    "template_id": {
                        "type": "string",
                        "title": "Template Id",
                        "description": "Template ID to create desk from (e.g., 'it', 'hr')"
                    },
                    "name": {
                        "anyOf": [
                            {
                                "type": "string",
                                "maxLength": 60,
                                "minLength": 1
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name",
                        "description": "Optional custom name for the desk (overrides template name)"
                    },
                    "employee_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Employee Ids",
                        "description": "List of employee IDs"
                    }
                },
                "type": "object",
                "required": [
                    "template_id"
                ],
                "title": "CreateTemplateDeskRequest",
                "description": "Request to create a desk from a template."
            },
            "CreateThreadMessageRequest": {
                "properties": {
                    "content": {
                        "type": "string",
                        "minLength": 1,
                        "title": "Content"
                    },
                    "message_metadata": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message Metadata"
                    }
                },
                "type": "object",
                "required": [
                    "content"
                ],
                "title": "CreateThreadMessageRequest"
            },
            "CreateThreadRequest": {
                "properties": {
                    "title": {
                        "type": "string",
                        "maxLength": 255,
                        "title": "Title"
                    }
                },
                "type": "object",
                "required": [
                    "title"
                ],
                "title": "CreateThreadRequest"
            },
            "CreateTicketFromEmailRequest": {
                "properties": {
                    "tenant_id": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Tenant Id"
                    },
                    "desk_id": {
                        "type": "string",
                        "title": "Desk Id"
                    },
                    "subject": {
                        "type": "string",
                        "title": "Subject"
                    },
                    "body": {
                        "type": "string",
                        "title": "Body"
                    },
                    "reporter_id": {
                        "type": "string",
                        "title": "Reporter Id"
                    },
                    "cc_employee_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Cc Employee Ids"
                    },
                    "attachment_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Attachment Ids"
                    },
                    "email_message_id": {
                        "type": "string",
                        "title": "Email Message Id"
                    },
                    "email_from": {
                        "type": "string",
                        "title": "Email From"
                    }
                },
                "type": "object",
                "required": [
                    "tenant_id",
                    "desk_id",
                    "subject",
                    "body",
                    "reporter_id",
                    "email_message_id",
                    "email_from"
                ],
                "title": "CreateTicketFromEmailRequest",
                "description": "Request to create a ticket from an email (internal endpoint)."
            },
            "CreateTicketLinkRequest": {
                "properties": {
                    "target_ticket_id": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 1,
                        "title": "Target Ticket Id"
                    },
                    "link_type": {
                        "$ref": "#/components/schemas/TicketLinkType"
                    }
                },
                "type": "object",
                "required": [
                    "target_ticket_id",
                    "link_type"
                ],
                "title": "CreateTicketLinkRequest"
            },
            "CreateTicketMessageRequest": {
                "properties": {
                    "content": {
                        "type": "string",
                        "minLength": 0,
                        "title": "Content"
                    },
                    "sender_id": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 1,
                        "title": "Sender Id"
                    },
                    "message_type": {
                        "$ref": "#/components/schemas/TicketMessageType",
                        "default": "text"
                    },
                    "is_internal": {
                        "type": "boolean",
                        "title": "Is Internal",
                        "default": false
                    },
                    "source": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/MessageSource"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "attachment_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Attachment Ids"
                    },
                    "message_metadata": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message Metadata"
                    },
                    "created_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created At",
                        "description": "Optional creation timestamp. If not provided, current time will be used. Used for preserving original ITSM timestamps during import."
                    },
                    "publish_events": {
                        "type": "boolean",
                        "title": "Publish Events",
                        "description": "Whether to publish events for this message. Set to False during imports to prevent notifications and automations from triggering.",
                        "default": true
                    }
                },
                "type": "object",
                "required": [
                    "content",
                    "sender_id"
                ],
                "title": "CreateTicketMessageRequest"
            },
            "CreateTicketRequest": {
                "properties": {
                    "title": {
                        "type": "string",
                        "maxLength": 255,
                        "minLength": 1,
                        "title": "Title"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "ticket_type": {
                        "$ref": "#/components/schemas/TicketType"
                    },
                    "priority": {
                        "$ref": "#/components/schemas/TicketPriority"
                    },
                    "source": {
                        "$ref": "#/components/schemas/TicketSource",
                        "default": "harmony"
                    },
                    "reporter": {
                        "type": "string",
                        "title": "Reporter"
                    },
                    "assignee": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Assignee"
                    },
                    "desk_id": {
                        "type": "string",
                        "maxLength": 60,
                        "minLength": 1,
                        "title": "Desk Id"
                    },
                    "attachment_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Attachment Ids"
                    },
                    "custom_fields": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Custom Fields",
                        "description": "Custom field values for this desk"
                    },
                    "ticket_metadata": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Ticket Metadata",
                        "description": "Additional metadata for the ticket"
                    },
                    "created_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created At",
                        "description": "Optional creation timestamp. If not provided, current time will be used. Used for preserving original ITSM timestamps during import."
                    },
                    "related_asset_ids": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Related Asset Ids",
                        "description": "List of asset IDs (UUIDs) to associate with this ticket"
                    },
                    "publish_events": {
                        "type": "boolean",
                        "title": "Publish Events",
                        "description": "Whether to publish domain events for this ticket creation. Set to False to suppress event publishing (useful for bulk imports or migrations). Defaults to True.",
                        "default": true
                    },
                    "thread_id": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "uuid"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Thread Id",
                        "description": "Optional thread ID to associate with this ticket. If not provided a new thread will be created."
                    }
                },
                "type": "object",
                "required": [
                    "title",
                    "ticket_type",
                    "priority",
                    "reporter",
                    "desk_id"
                ],
                "title": "CreateTicketRequest"
            },
            "CreateUserTicketRequest": {
                "properties": {
                    "title": {
                        "type": "string",
                        "maxLength": 255,
                        "minLength": 3,
                        "title": "Title"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "ticket_type": {
                        "$ref": "#/components/schemas/TicketType"
                    },
                    "priority": {
                        "$ref": "#/components/schemas/TicketPriority"
                    },
                    "source": {
                        "$ref": "#/components/schemas/TicketSource",
                        "default": "harmony"
                    },
                    "assignee": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Assignee"
                    },
                    "desk_id": {
                        "type": "string",
                        "maxLength": 60,
                        "minLength": 1,
                        "title": "Desk Id"
                    },
                    "attachment_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Attachment Ids"
                    },
                    "reporter": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Reporter",
                        "description": "ID of the reporter if creating on behalf of another user"
                    }
                },
                "type": "object",
                "required": [
                    "title",
                    "ticket_type",
                    "priority",
                    "desk_id"
                ],
                "title": "CreateUserTicketRequest"
            },
            "CustomFieldDefinitionResponse": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "desk_id": {
                        "type": "string",
                        "title": "Desk Id"
                    },
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "field_type": {
                        "$ref": "#/components/schemas/CustomFieldType"
                    },
                    "is_mandatory": {
                        "type": "boolean",
                        "title": "Is Mandatory"
                    },
                    "options": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Options"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "desk_id",
                    "name",
                    "field_type",
                    "is_mandatory",
                    "created_at",
                    "updated_at"
                ],
                "title": "CustomFieldDefinitionResponse"
            },
            "CustomFieldDefinitionsListResponse": {
                "properties": {
                    "items": {
                        "items": {
                            "$ref": "#/components/schemas/CustomFieldDefinitionResponse"
                        },
                        "type": "array",
                        "title": "Items"
                    },
                    "total_count": {
                        "type": "integer",
                        "title": "Total Count"
                    }
                },
                "type": "object",
                "required": [
                    "items",
                    "total_count"
                ],
                "title": "CustomFieldDefinitionsListResponse"
            },
            "CustomFieldType": {
                "type": "string",
                "enum": [
                    "number",
                    "text",
                    "checkbox",
                    "single_select",
                    "multi_select"
                ],
                "title": "CustomFieldType"
            },
            "CustomFieldValuesRequest": {
                "properties": {
                    "custom_fields": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Custom Fields",
                        "description": "Custom field values as key-value pairs for the current desk"
                    }
                },
                "type": "object",
                "required": [
                    "custom_fields"
                ],
                "title": "CustomFieldValuesRequest",
                "description": "Request schema for setting custom field values on a ticket."
            },
            "CustomFieldValuesResponse": {
                "properties": {
                    "custom_fields": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Custom Fields",
                        "description": "Custom field values for the current desk"
                    }
                },
                "type": "object",
                "title": "CustomFieldValuesResponse",
                "description": "Response schema for custom field values."
            },
            "DeleteStatusTrackingRequest": {
                "properties": {
                    "ticket_id": {
                        "type": "string",
                        "title": "Ticket Id",
                        "description": "Ticket ID"
                    },
                    "tracked_status": {
                        "type": "string",
                        "title": "Tracked Status",
                        "description": "Status to stop tracking"
                    }
                },
                "type": "object",
                "required": [
                    "ticket_id",
                    "tracked_status"
                ],
                "title": "DeleteStatusTrackingRequest",
                "description": "Request to delete status tracking."
            },
            "DeskEmployeeResponse": {
                "properties": {
                    "employee_id": {
                        "type": "string",
                        "title": "Employee Id"
                    }
                },
                "type": "object",
                "required": [
                    "employee_id"
                ],
                "title": "DeskEmployeeResponse"
            },
            "DeskResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id"
                    },
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "emoji": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Emoji"
                    },
                    "description": {
                        "type": "string",
                        "title": "Description"
                    },
                    "template_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Template Id"
                    },
                    "main_subdesk_id": {
                        "type": "string",
                        "title": "Main Subdesk Id"
                    },
                    "employees": {
                        "items": {
                            "$ref": "#/components/schemas/DeskEmployeeResponse"
                        },
                        "type": "array",
                        "title": "Employees"
                    },
                    "custom_fields": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/CustomFieldDefinitionResponse"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Custom Fields",
                        "description": "Custom field definitions for this desk."
                    },
                    "subdesks": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/SubdeskResponse"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Subdesks",
                        "description": "Subdesks within this desk (only populated when include_subdesks=true)"
                    },
                    "inbox_enabled": {
                        "type": "boolean",
                        "title": "Inbox Enabled"
                    },
                    "inbox_email": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Inbox Email"
                    },
                    "inbox_cc_as_watchers": {
                        "type": "boolean",
                        "title": "Inbox Cc As Watchers"
                    },
                    "enabled": {
                        "type": "boolean",
                        "title": "Enabled"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Created At"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Updated At"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "emoji",
                    "description",
                    "template_id",
                    "main_subdesk_id",
                    "employees",
                    "inbox_enabled",
                    "inbox_email",
                    "inbox_cc_as_watchers",
                    "enabled",
                    "created_at",
                    "updated_at"
                ],
                "title": "DeskResponse"
            },
            "DesksListResponse": {
                "properties": {
                    "desks": {
                        "items": {
                            "$ref": "#/components/schemas/DeskResponse"
                        },
                        "type": "array",
                        "title": "Desks"
                    }
                },
                "type": "object",
                "required": [
                    "desks"
                ],
                "title": "DesksListResponse"
            },
            "EmailTicketResponse": {
                "properties": {
                    "ticket_id": {
                        "type": "string",
                        "title": "Ticket Id"
                    },
                    "status": {
                        "type": "string",
                        "title": "Status"
                    }
                },
                "type": "object",
                "required": [
                    "ticket_id",
                    "status"
                ],
                "title": "EmailTicketResponse",
                "description": "Response from email ticket creation."
            },
[...]
